.git/
.gitignore
# .next/                # Existing Next.js builds
.dockerignore
Dockerfile.prod
Dockerfile.dev
docker-compose.yaml
docker-compose-deploy.yaml
node_modules/         # Installed inside container
nginx/         